*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
    font-family: Helvetica, arial, sans-serif;
}

.container {
  height: 100vh;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-family: Helvetica, arial, sans-serif;
  position:relative
}
.img{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column-start:3 ; 
  grid-column-end:6;
  grid-row-start:1;
  grid-row-end:3;
  z-index: -1;
  
  
   
}
img{
  height: auto;
  width: auto;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
 
}
.intro{
  grid-row-start: 1;
  grid-column: 1 / span 3;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  

  
}
/* Styling the Nav Bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  /* padding: 0 2rem; */
  max-width: 1600px;
} 

/* Menu Styling */
.navbar-container .navbar-menu{
  display: flex;
  text-align: center;
  gap: 0.5rem;
  list-style-type: none;

}
#contact-me{
   text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}
.navbar-container .navbar-menu li a{
  text-decoration: none;
  color: black;
  font-size: 0.5rem;
  font-weight: 500;
  padding: 3px 1rem;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}
/* Hover reaction: */
.navbar-container .navbar-menu li a:hover, .navbar-container .navbar-menu li a.active {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.432);
  border: 1px solid rgba(0, 0, 0, 0.432);
}

.navbar-logo{
  font-size: .59rem;
  padding-left: 3%;
  font-family: DM Sans,sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: black;
  white-space: nowrap;
}
.navbar-toggle{
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
/*Toggle bar styling  */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: rgba(0, 0, 0, 0.432);
  transition: all 0.3s ease-in-out;
}



/* .software {
  position: relative;
  top: 30px;
  left: -20PX;
} */
/* .data {
  position: relative;
 
  left: 20px;
} */
.my-intro{
  border-radius: 20px ;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  font-size: clamp(2rem,4vw, 6rem);
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: Left;
  padding-left: 50px;
}
.intro h2 {
  /* position: relative;
  top: 20px; */
  padding: 30px;
  
  padding-bottom: 10px;
  font-size: clamp(0.5rem, 2vw, 2rem);
  font-weight: 300;
  z-index: 1;
}
/* .bold {
  display: block;
  font-weight: bold; 
}*/
.quote {
  font-style: italic;
  text-align: left;
  font-size: clamp(0.75rem, 1vw, 2.5rem);
  border-left: 3px solid rgba(0, 0, 0, 0.432)  ;
  padding: 15px;
  margin-top: 30px;
  display: flex;
  align-items:  center;
  justify-content: flex-start;
}
.contact-me{ 
  grid-row-start: 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* Style for the services section */
.services{
  margin-left: 30px;
  font-size: clamp(0.75rem, 1vw, 2.5rem);

}
.services h3 {
  white-space-collapse:  nowrap;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  margin-bottom: 20px;
}
.service-item1{
  grid-row-start: 4;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
}
.service-item2{
  grid-row-start: 4;
  grid-column: 3 / span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
}
.service-item3{
  grid-row-start: 4;
  grid-column: 6 / span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
}
  /*
.Eng-text{
  font-weight: bold;
  text-align: center;
}
.nav {
  grid-column: span 6; 
}
.intro {
display: flex;
  flex-direction: row;
  align-items: center;
}
.bold {
  display: block;
  font-weight: bold;
}
.quote {
  font-style: italic;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}


} */

/* Responsive Style */
@media (max-width: 880px){
  .navbar {
    /* backdrop-filter: none; */
  }

  /* Style The nav menu for small screens */
  .navbar-container .navbar-menu{
    display:none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position:absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba (0,0,0,0.5) ;
    backdrop-filter: blur(10px);
  }
  .navbar-container .navbar-menu.active{
    display: flex;
  }

  .navbar-toggle {
    display: block;
    z-index: 1000;
  }
  .navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

}
@media (max-width: 480px){
  .navbar-container{
    padding: 0 1rem;
  }
    /* Resizing container */
  .container {
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

  }
  .img {
  grid-column-start:3;
  grid-row-start:1;
  grid-row-end:1;
  z-index: 200;
  display: flex;
  position: relative;
  

  }
  img{
    width: 100%;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    top: 1.67rem;
    left: -1rem;
  }
  .intro{
      grid-row-start: 1;
      grid-column: 1 / span 3;
      justify-content: space-between;
      position: relative;
  }
.quote{
  margin-top: 0;
  padding-left: 8px;
  border: none;
  text-align: center;
}

.my-intro{
  font-size: 10vw;
  font-weight: 550;
  padding: 1rem;
  padding-top: 0.2rem;
}
.intro h2 {
  font-size: small;
  padding-left: 0.8rem;
  padding-bottom: 0;
  margin-top: 0.77rem;
  
}
  .service-item1{
      grid-row-start: 2;
      grid-column: 1 / span 3;
  }
  .service-item3{
    display: none;
  }
    .service-item2{
    display: none;
  }

  .navbar-logo{
    font-size: 1.1rem;
  }
  .navbar-container .navbar-menu li a{
    font-size: 1rem;
    padding: 3px 15px;
  }
}


